* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-fluid {
  max-width: 75%;
  margin: 0 auto;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

body {
  position: relative;
  background-color: #1A1A1A;
}

.background {
  width: 100%;
  background-image: url(./image/placeholder.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1100px;
}
.background header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1607843137);
}
.background header .header {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background header .header .logo {
  text-transform: uppercase;
  color: #34C759;
}
.background header .header .logo svg {
  margin-right: 8px;
}
.background header .header nav ul {
  display: flex;
}
.background header .header nav ul li {
  margin-left: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
}
.background header .header nav ul li a {
  color: #FFFFFF;
}
.background header .header nav ul li a:active {
  color: #34C759;
}
.background header .header .menu {
  color: #FFFFFF;
  display: none;
}
.background header .header .menu nav {
  display: none;
}
.background header .header .menu nav ul {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 480px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
.background header .header .menu nav ul li {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
.background .intro .introduction {
  margin-bottom: 89px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .intro .introduction h1 {
  width: 80%;
  font-size: 60px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.background .intro .introduction h1:first-child {
  margin-top: 95px;
}
.background .intro .introduction p {
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  opacity: 0.7;
  display: block;
}
.background .intro .introduction button {
  margin-top: 40px;
  width: 220px;
  height: 72px;
  background: #34C759;
  border: none;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
}
.background .intro .introduction .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0;
}
.background .intro .introduction .bottom .bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .intro .introduction .bottom .bottom-left i {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.background .intro .introduction .bottom .bottom-left h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.background .intro .introduction .bottom .bottom-left span {
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  color: #FFFFFF;
  opacity: 0.5;
}
.background .intro .introduction .bottom .bottom-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .intro .introduction .bottom .bottom-center i {
  color: rgba(255, 255, 255, 0.5);
}
.background .intro .introduction .bottom .bottom-center h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.background .intro .introduction .bottom .bottom-center span {
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  color: #FFFFFF;
  opacity: 0.5;
}
.background .intro .introduction .bottom .bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .intro .introduction .bottom .bottom-right i {
  color: rgba(255, 255, 255, 0.5);
}
.background .intro .introduction .bottom .bottom-right h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.background .intro .introduction .bottom .bottom-right span {
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  color: #FFFFFF;
  opacity: 0.5;
}

.cards {
  background-color: #1A1A1A;
  width: 100%;
}
.cards .card {
  height: 736px;
  background-image: url(./image/placeholder\ \(1\).svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  z-index: 10;
}
.cards .card h2 {
  width: 100%;
  height: 80px;
  align-items: center;
  font-size: 30px;
  line-height: 60px;
  vertical-align: center;
  letter-spacing: 20%;
  color: #D9D9D9;
  letter-spacing: 5px;
  background-image: url(./image/ABOUT.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.cards .card p {
  width: 55%;
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #A6A6A6;
  display: block;
}
.cards .card .images {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.cards .card .images .arrow {
  width: 60px;
  height: 60px;
  margin-top: 100px;
  display: block;
}

.work {
  height: 700px;
  background-color: #1A1A1A;
}
.work .how-works {
  padding-top: 436px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work .how-works h2 {
  width: 295px;
  height: 90px;
  align-items: center;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  vertical-align: center;
  color: #D9D9D9;
  letter-spacing: 5px;
  background-image: url(./image/EVENTS.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.work .how-works img {
  margin-top: 31px;
  width: 60px;
  height: 2px;
}
.work .how-works .word-cards {
  width: 100%;
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .how-works .word-cards .card1 {
  padding: 30px;
  width: 255px;
  height: 206px;
  background-color: #252525;
}
.work .how-works .word-cards .card1 h4 {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.work .how-works .word-cards .card1 p {
  padding-top: 25px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.work .how-works .word-cards .card1:hover {
  transition: 0.4s;
  background-color: #34C759;
}
.work .how-works .word-cards .card1:hover h4, .work .how-works .word-cards .card1:hover p {
  color: #191919;
}
.work .how-works .word-cards .card2 {
  padding: 25px;
  width: 255px;
  height: 206px;
  background-color: #252525;
}
.work .how-works .word-cards .card2:hover {
  transition: 0.4s;
  background-color: #34C759;
}
.work .how-works .word-cards .card2:hover h4, .work .how-works .word-cards .card2:hover p {
  color: #191919;
}
.work .how-works .word-cards .card2 h4 {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.work .how-works .word-cards .card2 p {
  padding-top: 12px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.work .how-works .word-cards .card3 {
  padding: 30px;
  width: 255px;
  height: 206px;
  background-color: #252525;
}
.work .how-works .word-cards .card3:hover {
  transition: 0.4s;
  background-color: #34C759;
}
.work .how-works .word-cards .card3:hover h4, .work .how-works .word-cards .card3:hover p {
  color: #191919;
}
.work .how-works .word-cards .card3 h4 {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.work .how-works .word-cards .card3 p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.work .how-works .word-cards .card4 {
  padding: 30px;
  width: 255px;
  height: 206px;
  background-color: #252525;
}
.work .how-works .word-cards .card4:hover {
  transition: 0.4s;
  background-color: #34C759;
}
.work .how-works .word-cards .card4:hover h4, .work .how-works .word-cards .card4:hover p {
  color: #191919;
}
.work .how-works .word-cards .card4 h4 {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.work .how-works .word-cards .card4 p {
  padding-top: 25px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5019607843);
}

@media screen and (max-width: 1200px) {
  .background {
    height: 650px;
  }
  .background header .header {
    height: 60px;
  }
  .background header nav {
    display: none;
  }
  .background header .menu {
    display: block !important;
  }
  .background header .menu i {
    display: block;
  }
  .background header .menu nav {
    display: none;
  }
  .background main .intro .introduction {
    margin-bottom: 1px;
    height: 450px;
  }
  .background main .intro .introduction h1 {
    width: 100%;
    font-size: 40px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 35px;
  }
  .background main .intro .introduction h1:first-child {
    margin-top: -175px;
  }
  .background main .intro .introduction p {
    display: none !important;
  }
  .background main .intro .introduction button {
    margin-top: 55px;
    width: 80px;
    height: 38px;
    border-radius: 43px;
    font-size: 9px;
    line-height: 8px;
  }
  .background main .intro .introduction .bottom {
    margin: 15px 0;
  }
  .background main .intro .introduction .bottom .bottom-left {
    width: 120px;
  }
  .background main .intro .introduction .bottom .bottom-left i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-left h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-left span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .background main .intro .introduction .bottom .bottom-center {
    width: 120px;
    margin-left: 15px;
    padding: 0 10px;
  }
  .background main .intro .introduction .bottom .bottom-center i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-center h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-center span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .background main .intro .introduction .bottom .bottom-right {
    width: 120px;
    margin-left: 15px;
  }
  .background main .intro .introduction .bottom .bottom-right i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-right h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-right span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .cards {
    height: 455px;
  }
  .cards .card {
    width: 100%;
    position: absolute;
    top: 28%;
    left: 0%;
    z-index: 1000 !important;
  }
  .cards .card p {
    display: none !important;
  }
  .cards .card .images {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .card .images .arrow {
    display: none !important;
  }
  .work {
    height: 500px;
  }
  .work .how-works {
    padding-top: 95px;
  }
  .work .how-works .word-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .work .how-works .word-cards .card1 {
    padding: 10px;
  }
  .work .how-works .word-cards .card1 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card1 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card2 {
    margin: 2px;
    padding: 10px;
  }
  .work .how-works .word-cards .card2 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card2 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card3 {
    padding: 10px;
  }
  .work .how-works .word-cards .card3 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card3 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card4 {
    margin: 2px;
    padding: 10px;
  }
  .work .how-works .word-cards .card4 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card4 p {
    padding-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .background {
    width: 100%;
    height: 450px;
  }
  .background header .header {
    height: 50px;
  }
  .background header .header nav {
    display: none;
  }
  .background header .header .menu i {
    display: block;
  }
  .background header .header .menu .mobile-menu {
    display: none;
  }
  .background main .intro .introduction {
    margin-bottom: 1px;
    height: 450px;
  }
  .background main .intro .introduction h1 {
    width: 100%;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 15px;
  }
  .background main .intro .introduction h1:first-child {
    margin-top: -175px;
  }
  .background main .intro .introduction p {
    display: none;
  }
  .background main .intro .introduction button {
    margin-top: 5px;
    width: 70px;
    height: 28px;
    background: #34C759;
    border: none;
    border-radius: 43px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #1A1A1A;
  }
  .background main .intro .introduction .bottom {
    margin: 15px 0;
  }
  .background main .intro .introduction .bottom .bottom-left {
    width: 120px;
  }
  .background main .intro .introduction .bottom .bottom-left i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-left h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-left span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .background main .intro .introduction .bottom .bottom-center {
    width: 120px;
    margin-left: 15px;
    padding: 0 10px;
  }
  .background main .intro .introduction .bottom .bottom-center i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-center h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-center span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .background main .intro .introduction .bottom .bottom-right {
    width: 120px;
    margin-left: 15px;
  }
  .background main .intro .introduction .bottom .bottom-right i {
    color: rgba(255, 255, 255, 0.5);
  }
  .background main .intro .introduction .bottom .bottom-right h5 {
    font-weight: 200;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0;
  }
  .background main .intro .introduction .bottom .bottom-right span {
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .cards {
    width: 100%;
    height: 355px;
    background-color: #1A1A1A;
  }
  .cards .card {
    width: 100%;
    position: absolute;
    top: 28%;
    z-index: 1000 !important;
  }
  .cards .card h2 {
    height: 50px;
    font-size: 15px;
    line-height: 40px;
  }
  .cards .card p {
    display: none !important;
  }
  .cards .card .images {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .card .images .arrow {
    display: none !important;
  }
  .work {
    height: 500px;
  }
  .work .how-works {
    padding-top: 355px;
  }
  .work .how-works .word-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  .work .how-works .word-cards .card1 {
    padding: 10px;
  }
  .work .how-works .word-cards .card1 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card1 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card2 {
    margin: 2px;
    padding: 10px;
  }
  .work .how-works .word-cards .card2 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card2 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card3 {
    padding: 10px;
  }
  .work .how-works .word-cards .card3 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card3 p {
    padding-top: 15px;
  }
  .work .how-works .word-cards .card4 {
    padding: 10px;
    margin: 2px;
  }
  .work .how-works .word-cards .card4 h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .work .how-works .word-cards .card4 p {
    padding-top: 15px;
  }
}/*# sourceMappingURL=mystyle.css.map */